@page "/account/recover-password"
@layout EmptyLayout
<div class="tw-mt-7 tw-bg-white">
    <div class="tw-p-4 sm:tw-p-7">
        <div class="tw-text-center">
            <MudIconButton Href="/account/login" Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start" />
            <h1 class="tw-block tw-text-2xl tw-font-bold tw-text-gray-800">Recuperar contraseña</h1>
            <p class="tw-mt-2 tw-text-sm tw-text-gray-600">
                Escribe tu correo eléctronico o tu número de teléfono, te enviaremos un mensaje para recuperar tu contraseña.
            </p>
        </div>
        <div class="tw-mt-5">
            <EditForm Model="RecoverPasswordModel" OnValidSubmit="Recover">
                <label for="email" class="tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white">Email o teléfono</label>
                <input @bind="RecoverPasswordModel.EmailOrPhoneNumber" type="text" id="emailOrPhoneNumber" name="emailOrPhoneNumber" class="tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 tw-text-sm tw-rounded-lg focus:tw-ring-primary-600 focus:tw-border-primary-600 tw-block tw-w-full tw-px-4 tw-py-3 dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:tw-placeholder-gray-400 dark:tw-text-white dark:focus:tw-ring-blue-500 dark:focus:tw-border-blue-500 tw-mb-3" required aria-describedby="email-error" />

                <button type="submit" class="tw-inline-flex tw-w-full tw-items-center tw-justify-center tw-gap-x-2 tw-rounded-lg tw-border tw-border-transparent tw-bg-blue-600 tw-px-4 tw-py-3 tw-text-sm tw-font-semibold tw-text-white hover:tw-bg-blue-700 disabled:tw-pointer-events-none disabled:tw-opacity-50">Recuperar contraseña</button>
            </EditForm>
        </div>
    </div>
</div>
@code {

}
